In [13]:
#income tax calculator
annual_income=int(input("Enter the annual income:"))
tax=0
if annual_income<=250000:
    print('No tax')
elif annual_income>250001 and annual_income<=500000:
    tax=annual_income*0.05
    print("Tax amount:",tax)
elif annual_income>500001 and annual_income<=1000000:
    tax=annual_income*0.20
    print("Tax amount:",tax)
elif annual_income>100000:
    tax=annual_income*0.30
    print("Tax amount:",tax)
else:
    print("Invalid value!!")

Enter the annual income: 1000001

Tax amount: 300000.3

In [ ]:
#Find a number is od or even

In [3]:
number=6
if number %2==0:
    print("A number is even")
else:
    print("A number is odd")

A number is even

In [4]:
number=7
if number %2==0:
    print("A number is even")
else:
    print("A number is odd")

A number is odd

In [16]:
annual_income=int(input("Enter the annual income:"))
tax=0
net_amount=0
if annual_income<=250000:
    print('No tax')
elif annual_income>250001 and annual_income<=500000:
    tax=annual_income*0.05
    net_amount=annual_income-tax
    print("Tax amount:",tax)
    print("Net income after tax:",net_amount)
elif annual_income>500001 and annual_income<=1000000:
    tax=annual_income*0.20
    print("Tax amount:",tax)
elif annual_income>100000:
    tax=annual_income*0.30
    print("Tax amount:",tax)
else:
    print("Invalid value!!")

Enter the annual income: 300000

Tax amount: 15000.0
Net income after tax: 285000.0

In [19]:
#we need to add else if allthe conndition are not met then else will run
annual_income=int(input("Enter the annual income:"))
tax=0
net_amount=0
if annual_income>0 and annual_income<=250000:
    print('No tax')
elif annual_income>250001 and annual_income<=500000:
    tax=annual_income*0.05
    net_amount=annual_income-tax
    print("Tax amount:",tax)
    print("Net income after tax:",net_amount)
elif annual_income>500001 and annual_income<=1000000:
    tax=annual_income*0.20
    print("Tax amount:",tax)
elif annual_income>100000:
    tax=annual_income*0.30
    print("Tax amount:",tax)
else:
    print("Invalid value!!")

Enter the annual income: -1

Invalid value!!

In [27]:
#found from gemini
annual_income=int(input("Enter the annual income:"))
if annual_income<=250000:
    tax=0
    print('Tax amount:0,(No tax)')
elif annual_income>250001 and annual_income<500000:
    tax=annual_income*0.05
    print(f"Tax income:{tax},(Tax 5%)")
elif annual_income>500001 and annual_income<1000000:
    tax=annual_income*0.20
    print(f"Tax income:{tax},(tax 20%)")
else:#more then 1,000,000
    tax=annual_income*0.3
    print(f"Tax amount:{tax}(30%tax)")

Enter the annual income: 10000001

Tax amount:3000000.3(30%tax)

In [2]:
username='system'
password='manisha123'
new_u=input("Enter the username:")
new_p=input("Enter the password:")

if username==new_u and password==new_p:
    print('login successfull')
elif username==new_u or password==new_p:#username==new_u and password!=new_p:
    print('Incorrect password')
elif username!=new_u and password!=new_p:
    print("Username or password is Incorrect")
else:
    print("Incorrect Username")

Enter the username: sis
Enter the password: man

Username or password is Incorrect

In [2]:
Grade=55
if Grade>=80:
    print("Grade is A")
elif Grade >=60 and Grade<80:
    print("Grade is B")
elif Grade>=40 and Grade<60:
    print ("Grade is C")
else:
    print("D/Fail")

Grade is C

In [ ]:
#Take input of 5 subjects
#Total marks
#Average marks
#Based on average marks

# Nested IF

In [1]:
#Write a program to check whetjer a person is eligible to vote or not.
# condition should be persons age must be more then equals 18 and must be a Nepali citizen

In [5]:
attendance=int(input("Enter the days:"))
marks=int(input("Enter the marks:"))
if attendance>=75:
    if marks>=40:
        print("A student is eligible for exam")
else:
    print("student has not 75 attendance")
else:
    print("marks not up to eligible")

SyntaxError: invalid syntax (180058389.py, line 8)

In [18]:
balance=50000
withdrawn=int(input("Enter the withdrawn amount:"))
remain_balance=balance-withdrawn
print(f"Remaining balance is {remain_balance}")
# case 1:cheif withdrawn>=1000:
    withdrawn%10000==0
    if withdrawn<balance:
        print("both cases are matched")
else:
    print("Cases did not matched")

Enter the withdrawn amount 4566

Remaining balance is 45434
both cases are matched

# switchcase (Match Case)

In [ ]:
#order food using numbers

------Menu-----
1.Lunch
2.Dinner
3.Breakfast
4.Snacks
5:Exit

In [20]:
choice=int(input("Enter the number from 1-5:"))
if choice==1:
    print("you have ordered lunch")
elif choice==2:
    print("You have ordered Dinner")
elif choice==3:
    print("You have ordered Breakfast")
elif choice==4:
    print("you have ordered snacks")
elif choice==5:
    print("Thankyou for choosing us")
else:
    print("Invalid value")

Enter the number from 1-5: 1

you have ordered lunch

# matchcase

In [24]:
choice=int(input("Enter the number from 1-5:"))
match choice:
    case 1:
        print("you have ordered lunch")
    case 2:
        print("You have ordered Dinner")
    case 3:
        print("You have ordered Breakfast")
    case 4:
        print("you have ordered snacks")
    case 5:
        print("Thankyou for choosing us")
    case _:
        print("Invalid value")

Enter the number from 1-5: 1

you have ordered lunch

a #Interview question
b choice
1.add
2.subtract
3.multiply
4.Divide

In [25]:
a=int(input("Enter the first number:"))
b =int(input("Enter the second number:"))
choice=input("Enter value among +,-,*,/:")
#using match case to meet all conditions
match choice:
    case'+':
        add=a+b
        print("Addition of a and b is :",add)
    case'-':
        sub=a-b
        print("Subtraction of a and b is:",sub)
    case'*':
        mul=a*b
        print("Multiplication of and b is:",mul)
    case'/':
        div=a/b
        print("Division of a and b is:",div)
    case _:
        print("Invalid Value")

Enter the first number: 6
Enter the second number: 7
Enter value among +,-,*,/: /

Division of a and b is: 0.8571428571428571

# LOOP

In [26]:
#loop ->Used fo doing tasks frequently for certain numer of time
# For-> if we know how many times do we have to iterate(run) the program
# While loop-> Till our condition is true while loop iterate(runs) once it becomes false it stops

# For loop

In [28]:
#for loop has a function called range
#3 parameters/arguments
#start,stop,step
#range()->Number generation

In [29]:
#print number from 0 to 10
#for variable in range(start,stop,step):
    #logic
   # print(variable)

In [30]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [29]:
start=int(input("Enter the start value:"))
stop=int(input("Enter the stop value:"))
for i in range(start,stop+1):
    print(i)

Enter the start value: 2
Enter the stop value: 8

2
3
4
5
6
7
8

In [2]:
#find sum of 100 numbers using for loop
#1+2+3+4+5....100
sum=0
for i in range(1,101):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [8]:
#find sum of 100 numbers using for loop
#1+2+3+4+5....100
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)#print outside display only the value

5050

In [22]:
#is a person eligible to vote from age 10 to 30
# person is eligible to vote at 18
age=0
for i in range(10,31):
    if age<=18:
        print("Eligible to vote")
    else:
        print("Not eligible")

Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote
Eligible to vote

In [52]:
#Multiplication table of any number
number=3
for i in range(1,11):
    result=number*i
    print(f"{number}*{i}={result}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [36]:
# print all even and odd numbers from 1 to 20
for i in range(1,21):
    if i%2==0:
        print("Even number:",i)
    else:
        print("odd number:",i)

odd number: 1
Even number: 2
odd number: 3
Even number: 4
odd number: 5
Even number: 6
odd number: 7
Even number: 8
odd number: 9
Even number: 10
odd number: 11
Even number: 12
odd number: 13
Even number: 14
odd number: 15
Even number: 16
odd number: 17
Even number: 18
odd number: 19
Even number: 20

In [55]:
#is a person eligible to vote from age 10 to 30
# person is eligible to vote at 18
age=
for i in range(10,31):
    if age<=18:
        print(f"Age{age}:eligible to vote")
    else:
        print(f"Age{age}:not valid")

Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote
Age0:eligible to vote

In [4]:
#find factorial of 5
#5*4*3*2*1
multiply=1
for i in range(1,6):
    multiply=multiply*i
print(multiply)

120

# Break and continue

In [6]:
#Condition True:
    break (program stop)
# condition True:
    continue (value skip)

IndentationError: unexpected indent (3744557735.py, line 2)

In [8]:
#Find numbers from 1 to 10 but program needs to stopped when it finds number 5
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [10]:
#Find numbers from 1 to 10 but program needs to continued when it finds number 5
for i in range(1,11):
    if i==5:#skips 5 and prints rest
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [14]:
#user input 5 times,if user inputs 0 value then program needs to be stopped
for i in range(5):
    n=int(input("Enter the number:"))
    if n==0:
        print("You have entered 0.Programme stopped")
        break

Enter the number: 1
Enter the number: 0

You have entered 0.Programme stopped

In [15]:
for i in range (5):
    n=int(input("Enter any number:"))
    if n==5:
        print("you have entered number 5.Programme stopped")
        break
    else:
        print("you have entered:",n)

Enter any number: 1

you have entered: 1

Enter any number: 2

you have entered: 2

Enter any number: 3

you have entered: 3

Enter any number: 5

you have entered number 5.Programme stopped

#order 5 times
#1.lunch
2.sncaks
3.Dinner
4.Breakfast
5.Exit
1-4-> You have ordered scnaks
5-> thankyou for ordering food

In [ ]:
#Find numbers from 1 to 10 but program needs to continued when it finds number 5
for i in range(1,11):
    if i==5:#skips 5 and prints rest
        continue
    print(i)

In [1]:
for i in range(5):
    choice=int(input("Enter the choice:"))
    if choice==1:
        print("You have ordered snacks")
    elif choice==2:
        print("breakfast")
    elif choice==3:
        print("dinner")
    elif choice==4:
        print("breakfast")
    elif choice==5:
        print("Thankyou for ordering food")
        break
    else:
        print("Invalid value")
else:
    print("you have ordered 5 times")

Enter the choice: 1

You have ordered snacks

Enter the choice: 2

breakfast

Enter the choice: 4

breakfast

Enter the choice: 5

Thankyou for ordering food