# Python List Exercise
1.9.1 Level1-Basics of Lists

In [3]:
#write a list that contains more than 5 elements with different data types(eg.numbers,strings,booleans and etc)
mixed_list=[22,'ram',True,5j,5.6,None,(1,2,3,4),{'name':'Arya'}]
print(mixed_list)

[22, 'ram', True, 5j, 5.6, None, (1, 2, 3, 4), {'name': 'Arya'}]

In [2]:
len(mixed_list)#finding the length ofthe above

8

# 3 Access and print the first,middle, and last items from the list

In [8]:
mixed_list=[22,'ram',True,5j,5.6,None,(1,2,3,4),{'name':'Arya'}]
first=mixed_list[0]
last=mixed_list[-1]
middle=mixed_list[len(mixed_list)//2]
print(first)
print(last)
print(middle)

22
{'name': 'Arya'}
5.6

4.create a list named my_info that stores your name,age,height,martial status and country

In [16]:
name='Manisha'
age=36
height=5.2
marital_status='Married'
country='Nepal'
my_info=f'my name is {name}.my age is {age}. my height is {height}. my maritalstatus is {marital_status}. I live in country {country}'
print(my_info)

my name is Manisha.my age is 36. my height is 5.2. my maritalstatus is Married. I live in country Nepal

In [18]:
my_info=['Manisha',74,6.1,'Married','Nepal']
print(my_info)

['Manisha', 74, 6.1, 'Married', 'Nepal']

5.create a list named mix_fruits that stores fruits name

In [19]:
mix_fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
print(mix_fruits)

['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana']

In [22]:
# print the number of fruits
mix_fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
len(mix_fruits)

7

In [28]:
#first, last and middle fruits 
mix_fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
middle=mix_fruits[len(mix_fruits)//2]
print(mix_fruits[0])
print(mix_fruits[-1])
print(middle)

Guava
Banana
Pear

In [31]:
# modify one of fruits name and print the updated list
mix_fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
mix_fruits[0]=('kiwi')
print(mix_fruits)

['kiwi', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana']

In [33]:
mix_fruits[1]=('strawberry')
print(mix_fruits)

['kiwi', 'strawberry', 'Apple', 'Pear', 'fig', 'Orange', 'Banana']

In [34]:
#add a new fruit to the end and print
mix_fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
mix_fruits.append('lemon')
print(mix_fruits)

['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana', 'lemon']

In [37]:
#insert a new fruit in the middle
mix_fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
mix_fruits.insert(3,'melon')
print(mix_fruits)

['Guava', 'Mango', 'Apple', 'melon', 'Pear', 'fig', 'Orange', 'Banana']

In [49]:
#change one fruit to uppercase
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
fruits[0]=fruits[0].upper()
print(fruits)

['GUAVA', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana']

In [56]:
# Join all the fruits in one string and separate by ->
fruits ='Guava->Mango->Apple->Pear->fig->Orange->Banana'
print(fruits.split('->'))

['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana']

In [50]:
#check if thefruit 'Apple' exist in the list
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
print(fruits.count('Apple'))

1

In [52]:
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
print('Apple')

Apple

In [60]:
#sort the fruits in alphabhet using sort method
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Guava', 'Mango', 'Orange', 'Pear', 'fig']

In [61]:
#reverse the fruits
#sort the fruits in alphabhet using sort method
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
fruits.reverse()
print(fruits)

['Banana', 'Orange', 'fig', 'Pear', 'Apple', 'Mango', 'Guava']

In [68]:
#use slicing and print first 3 fruit
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
fruits[0:3]

['Guava', 'Mango', 'Apple']

In [69]:
#use slicing and print last 3 fruit
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
fruits[-3:]

['fig', 'Orange', 'Banana']

In [75]:
#use slicing and print middle fruit
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
print(fruits[len(fruits)//2])

Pear

In [76]:
print(fruits[len(fruits)//2])

Pear

In [82]:
#remove the 1st fruit using del or pop code
fruits =['Guava','Mango','Apple','Pear','fig','Orange','Banana']
print(fruits.pop(0))

Guava

In [88]:
fruits = ['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana'] 
del fruits[0] # deletes the first item 
print(fruits)

['Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana']

In [89]:
#remove the middle fruit from the list
fruits = ['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana'] 
del fruits[3] 
print(fruits)

['Guava', 'Mango', 'Apple', 'fig', 'Orange', 'Banana']

In [90]:
fruits = ['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana'] 
del (fruits[len(fruits)//2]) 
print(fruits)

['Guava', 'Mango', 'Apple', 'fig', 'Orange', 'Banana']

In [92]:
#remove all fruit from the list
fruits = ['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana'] 
fruits.clear()
print(fruits)

[]

In [94]:
#delete complete mix_fruit using del keyword
mix_fruits= ['Guava', 'Mango', 'Apple', 'Pear', 'fig', 'Orange', 'Banana'] 
del mix_fruits

In [97]:
#combine the 2 list in 1
front_end=['HTML','CSS','JS','React','Redux']
back_end=['Node','Express','MongoDB']
Total_end=front_end+back_end
print(Total_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [111]:
#combine the 2 list in 1
front_end=['HTML','CSS','JS','React','Redux']
back_end=['Node','Express','MongoDB']
front_end.extend(back_end) 
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [112]:
#insert'Python','SQL'after 'Redux'
full_stack=['HTML','CSS','JS','React','Redux']
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL']

# 1.9.2 Level 2

In [2]:
1#Given a list of student ages:
ages=[19,23,19,25,21,20,25,26,25,24]

In [13]:
#find the minimum and maximum age
ages=[19,23,19,25,21,20,25,26,25,24]
ages.sort()
min_age=ages[0]
max_age=ages[-1]
print(f"Sorted Ages:{ages}")
print(f"Min Age:{min_age},Max age:{max_age}")

Sorted Ages:[19, 19, 20, 21, 23, 24, 25, 25, 25, 26]
Min Age:19,Max age:26

In [18]:
#Add min amd max age again to the list
ages=[19,23,19,25,21,20,25,26,25,24]
ages.sort()
min_age=ages[0]
max_age=ages[-1]
ages.append(min_age)
ages.append(max_age)
print(f"List after adding min/max:{ages}")

List after adding min/max:[19, 19, 20, 21, 23, 24, 25, 25, 25, 26, 19, 26]

In [25]:
#Calculate the median age(middle value or average of 2 middle value)
ages=[19,23,19,25,21,20,25,26,25,24]
len(ages)

10

In [27]:
median=(ages[len(ages)//2])
print(f"Median Age:{median}")

Median Age:20

In [30]:
#find the average age
ages=[19,23,19,25,21,20,25,26,25,24]
average_age=sum(ages)/len(ages)
print(average_age)

22.7

In [34]:
#calculate the ranges(max-min)
ages=[19,23,19,25,21,20,25,26,25,24]
age_range=max(ages)-min(ages)
print(age_range)

7

In [42]:
#use the abs function to compare abs(min-average) vs abs(max-average)
ages=[19,23,19,25,21,20,25,26,25,24]
average=sum(ages)/len(ages)
min_average=abs(min(ages)-average)
max_average=abs(max(ages)-average)
print(min_average)
print(max_average)

3.6999999999999993
3.3000000000000007

In [40]:
ages = [19, 23, 19, 25, 21, 20, 25, 26, 25, 24] 
# Calculate average 
average = sum(ages) / len(ages) 
# Compare distances from the average 
min_diff = abs(min(ages) - average) 
max_diff = abs(max(ages) - average) 
print("abs(min - average):", min_diff) 
print("abs(max - average):", max_diff)

abs(min - average): 3.6999999999999993
abs(max - average): 3.3000000000000007

2. from the list of the country ,find the middle country and the country depending on the total number of the item

In [45]:
countries=['India','Russia','China','Finland','Sweden','Denmark','Norway']
middle_country=countries[len(countries)//2]
print(f"Middle_Country:{middle_country}")

Middle_Country:Finland

3.If list of countries has an even number of items,split into equal halves.If odd, the first half should contain one more country then second half.

In [51]:
countries=['India','Russia','China','Finland','Sweden','Denmark','Norway']
mid=len(countries)//2
if len(countries) % 2 == 0: 
    first_half = countries[:mid] 
    second_half = countries[mid:] 
else: 
    first_half = countries[:mid + 1] 
    second_half = countries[mid + 1:] 
print("First half:", first_half) 
print("Second half:", second_half)

First half: ['India', 'Russia', 'China', 'Finland']
Second half: ['Sweden', 'Denmark', 'Norway']

In [57]:
countries=['India','Russia','China','Finland','Sweden','Denmark','Norway']
first_half=countries[:4]
second_half=countries[4:]
print(first_half)
print(second_half)

['India', 'Russia', 'China', 'Finland']
['Sweden', 'Denmark', 'Norway']

4.unpack the first 3 countries into separate variable and store the remaining country into new list scandic_countries

In [58]:
countries=['India','Russia','China','Finland','Sweden','Denmark','Norway']
c1, c2, c3, *scandic_countries = countries 
print(c1) 
print(c2)
print(c3)
print(scandic_countries)

India
Russia
China
['Finland', 'Sweden', 'Denmark', 'Norway']

# 1.9.3 list beginner level question

In [63]:
#create a list of number from 1-10 and print the list

In [64]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
alphabet=list(range('A','C'))
print(alphabet)

TypeError: 'str' object cannot be interpreted as an integer

In [70]:
#access & print the second and 5th items of the list
numbers=[2,4,6,8,10,12,14,16]
print(numbers[1])
print(numbers[4])

4
10

In [71]:
#Find the length of your favourite fruit
fav_fruit='Orange'
len(fav_fruit)

6

In [73]:
#append the number 20 to the list and print the update
numbers=[10,15,30,25,50]
numbers.append(20)
print(numbers)

[10, 15, 30, 25, 50, 20]

In [74]:
#remove the 3rd number from the list and print the list
numbers=[10,15,30,25,50]
numbers.remove(30)
print(numbers)

[10, 15, 25, 50]

In [81]:
numbers=[10,15,30,25,50]
numbers.pop(2)
print(numbers)

[10, 15, 25, 50]