# Data structure

1.List-[]
2.Sets-{},index,value
3.tuple-()
4.Dicitionary-{}

Two types 
1. Mutable-> changeable->value can be changed
    list, sets,Dicitionary
2. Immutable->unchangable
    Tuple

In [3]:
a=1,2,3,4
type(a)

tuple

In [4]:
a=(1,2,3,4)
type(a)

tuple

#list ->multiple values can be stored
#Value-> Index
#Index is 2 types
1.postive Index-> starts from 0
2.Negative Index-> starts from-1

list is 2 types
a.1D list-> single Dimensional List
one_d_list=[1,2,3,4]

b.2D list->Multi dimensional
#list Inside list
two_d_list=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]

for each loop

# for each loop

In [5]:
one_d_list=[1,2,3,4]
for i in one_d_list: # this is extracting list data
    print(i)

1
2
3
4

In [6]:
#Unpacking list
print(*one_d_list)

1 2 3 4

In [7]:
print(one_d_list)

[1, 2, 3, 4]

In [4]:
two_d_list=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for i in two_d_list:
    print(i)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [2]:
print(*two_d_list)

NameError: name 'two_d_list' is not defined

# slicing
data extraction

In [146]:
statement="This is statement. I am python code."
statement[0:5]

'This '

In [147]:
statement[0:10:2]

'Ti ss'

In [150]:
statement[2:8]

'is is '

In [158]:
s="This is string.Strings in python are immutable."
s[:]

'This is string.Strings in python are immutable.'

In [161]:
s[0::]

'This is string.Strings in python are immutable.'

# Negative Indexing

In [151]:
statement="This is statement. I am python code."
statement[::-1]

'.edoc nohtyp ma I .tnemetats si sihT'

In [152]:
name="Manisha shahi"
name[::-1]

'ihahs ahsinaM'

In [154]:
statement="This is statement. I am python code."
statement[-10:-1]

'thon code'

In [155]:
statement[-10:]

'thon code.'

In [160]:
s="This is string.Strings in python are immutable."
s[-1::-1]

'.elbatummi era nohtyp ni sgnirtS.gnirts si sihT'

In [7]:
single_list=[1,2,3,4,5,6,7,8,9,10]
single_list[::-1] #reverse the value

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
single_list[2]

3

In [19]:
single_list[1:8:2]

[2, 4, 6, 8]

In [20]:
single_list[::3]

[1, 4, 7, 10]

In [14]:
multi_list=[[1,2,3,4],
            [5,6,7,8],
            [9,10,11,12]]
multi_list[2]

[9, 10, 11, 12]

In [17]:
multi_list[1:3] #1 is row

[[5, 6, 7, 8], [9, 10, 11, 12]]

In [21]:
multi_list[1][3]

8

#CHANGABLE DATA STRUCTURE
#Insert->Append, Insert
#Update->Index
#Delete->Remove,Pop, del

# for i in command

In [81]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
for i in fruits:
    print(i)

Apple
Banana
kiwi
Mango
Strawberry

In [82]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
for i in fruits:
    print(i)
    if i =="Apple":#break commands break after apple
     break

Apple

In [78]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
for i in fruits:
    print(i)
    if i=="kiwi": #it breaks after kiwi
        break

Apple
Banana
kiwi

# Append

In [ ]:
# append -> It accepts values but does not accept multiple value at once
  #  append(value)
# append adds value at last

In [80]:
num=[1,2,3,4,5,6,7,8,9]
num.append(11)
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [83]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
fruits.append("gauva")
fruits

['Apple', 'Banana', 'kiwi', 'Mango', 'Strawberry', 'gauva']

# Insert

In [ ]:
# Insert adds value accordingly with  given index number

In [85]:
num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]
num.insert(4,12)
num

[1, 2, 3, 4, 12, 5, 6, 7, 8, 9, 11]

In [86]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
fruits.insert(3,"selroti")
fruits

['Apple', 'Banana', 'kiwi', 'selroti', 'Mango', 'Strawberry']

In [89]:
# adding loop
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
for i in fruits:
    print(fruits)

['Apple', 'Banana', 'kiwi', 'Mango', 'Strawberry']
['Apple', 'Banana', 'kiwi', 'Mango', 'Strawberry']
['Apple', 'Banana', 'kiwi', 'Mango', 'Strawberry']
['Apple', 'Banana', 'kiwi', 'Mango', 'Strawberry']
['Apple', 'Banana', 'kiwi', 'Mango', 'Strawberry']

In [90]:
num=[1, 2, 3, 4, 12, 5, 6, 7, 8, 9, 11]
for i in num:
    print(i)

1
2
3
4
12
5
6
7
8
9
11

In [91]:
#enumerate function
for num_idx,num_value in enumerate(num):
    print(f"{num_idx}:{num_value}")

0:1
1:2
2:3
3:4
4:12
5:5
6:6
7:7
8:8
9:9
10:11

 # update function
 update can be done once at a time

In [93]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
fruits[3]="Dragon"  # dragon updates in index 3
fruits

['Apple', 'Banana', 'kiwi', 'Dragon', 'Strawberry']

In [29]:
num=[1,2,3,4,5,6,7]
num[4]=13
print(num)

[1, 2, 3, 4, 13, 6, 7]

# Delete list

# remove-> apply to remove specific value
# pop-> can be used to remove specific entire row value
# del-> works same as pop

# Remove
# remove -> It accepts and removes the value not index

In [102]:
#remove -> It removes the value not index
num=[1,2,3,4,5,6,7]
num.remove(4)
print(num)

[1, 2, 3, 5, 6, 7]

In [103]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
fruits.remove("Banana") #removes banana from the list
fruits

['Apple', 'kiwi', 'Mango', 'Strawberry']

# Pop
# # Pop -> It accepts index and removes the value of that index

In [100]:
num=[1,2,3,4,5,6,7,8,9]
num.pop(4)
print(num)

[1, 2, 3, 4, 6, 7, 8, 9]
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [101]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
fruits.pop(1) # Pop removed the Banana from index 1
fruits

['Apple', 'kiwi', 'Mango', 'Strawberry']

# delete (del)
# accepts only index to remove value

In [99]:
fruits=["Apple","Banana","kiwi","Mango","Strawberry"]
del fruits[1]
fruits

['Apple', 'kiwi', 'Mango', 'Strawberry']

In [106]:
num=[1,2,3,4,5,6,7,8,9]
del num[4] # removes value from index 4
num

[1, 2, 3, 4, 6, 7, 8, 9]

# Sort
# sorts values in ascending number

In [107]:
fruits=["Apple","Banana","Grapes","kiwi","Mango","Strawberry"]
fruits.sort()
fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Strawberry', 'kiwi']

In [108]:
num=[2,2,1,6,3,8,4,5,6,7,8,9]
num.sort()
num

[1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 8, 9]

# Reverse
# Reverse the value

In [109]:
num=[2,2,1,6,3,8,4,5,6,7,8,9]
num.reverse()
num

[9, 8, 7, 6, 5, 4, 8, 3, 6, 1, 2, 2]

In [110]:
fruits=["Apple","Banana","Grapes","kiwi","Mango","Strawberry"]
fruits.reverse()
fruits

['Strawberry', 'Mango', 'kiwi', 'Grapes', 'Banana', 'Apple']

# Count
# counts number of values in the list

In [163]:
s="We cannot end the sentence with 'because',because 'because' is a conjuction."
s.count("t")

5

In [169]:
p="Apple","Banana","Grapes","kiwi","Mango","Strawberry."
p.count("b")

0

In [115]:
num=[2,2,1,6,3,8,4,5,6,7,8,9]
num.count(2)
print(num)

[2, 2, 1, 6, 3, 8, 4, 5, 6, 7, 8, 9]

In [117]:
text="python"
new_text=[]
for new_text in text:
    print(new_text)

p
y
t
h
o
n

In [131]:
text="python"
new_text=[]
for i in text: # adds all values of text (python) in (i)
    print(i)  # then prints python
    new_text.append(i) # adding value of i in new_text
print(new_text)

p
y
t
h
o
n
['p', 'y', 't', 'h', 'o', 'n']

In [136]:
new_text.clear()
new_text

[]

# Clear command
# clears all the values

# extend

In [138]:
a=[1,2,3,4]
b=[5,6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [144]:
name=["Arya"," Ram"," surya"]
name1=["banana","Mango"]
name.extend(name1)
name

['Arya', ' Ram', ' surya', 'banana', 'Mango']

# Tuple

In [59]:
#Tuple is immutable data structure cannot be changed
# There are 2 ways to form tuple

In [60]:
num=(1,2,3,4)
type(num)

tuple

In [61]:
num

(1, 2, 3, 4)

In [63]:
num=(1,2,3,4,5)
num(1)=6

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (599916682.py, line 2)

In [64]:
for i in num:
    print(i)

1
2
3
4
5

In [65]:
num[::-1]# slicing

(5, 4, 3, 2, 1)

In [70]:
name="python"
reverse=name[::-1]
print(reverse)

nohtyp

In [71]:
text="manisha"
reverse=text[::-1]
reverse

'ahsinam'

In [188]:
menu=0
order_list=[]
while menu!=5:#not equals to 5
    print("1.Momo")
    print("2.Chowmin")
    print("3.Pizza")
    print("4.Drinks")
    print("5.Exit")
    menu=int(input("enter the number from 1-5:"))
    
    if menu==1:
        msg="you have ordered momo"
        print(msg)
        order_list.append(msg)
    elif menu==2:
        msg="you have ordered chowmin"
        print(msg)
        order_list.append(msg)
    elif menu==3:
        msg="You have ordered Pizza"
        print(msg)
        order_list.append(msg)
    elif menu==4:
        msg="You have ordered drinks"
        print(msg)
        order_list.append(msg)
    elif menu==5:
        print("Thank you for visting us")
    else:
        print("Invalid Input")
print()
print("your final order list:")
for i, value in enumerate(order_list):
    print(f"{i+1}:{value}")

1.Momo
2.Chowmin
3.Pizza
4.Drinks
5.Exit

enter the number from 1-5: 1

you have ordered momo
1.Momo
2.Chowmin
3.Pizza
4.Drinks
5.Exit

enter the number from 1-5: 2

you have ordered chowmin
1.Momo
2.Chowmin
3.Pizza
4.Drinks
5.Exit

enter the number from 1-5: 5

Thank you for visting us

your final order list:
1:you have ordered momo
2:you have ordered chowmin

# Dicitionary

In [ ]:
#Dicitionary={'key':'value'}

In [190]:
details={
'name':'Manisha',
 'Age':22,
 'address':'Nakku'}
details

{'name': 'Manisha', 'Age': 22, 'address': 'Nakku'}

In [191]:
details={
    'name':['Manisha','Arya'],
    'Age':[22,12],
    'address':['Nakku','nepal']}
details # can add multiple value inside list bracket

{'name': ['Manisha', 'Arya'], 'Age': [22, 12], 'address': ['Nakku', 'nepal']}

In [176]:
details['name']

['Manisha', 'Arya']

In [178]:
#using loop in dicitionary
for i in details:
    print(i) # only prints key not the value

name
Age
address

# loops in dicitionary

In [ ]:
dicitionary is mutable data type 
you can add, update and delete in dictionary

# 3 ways to use loop in dicitionary
1.key()-> extraxct only key using loop
2.value()-> extract only value using loop
3.items() -> extract both keys and values

In [192]:
details={
    'name':['Manisha','Arya'],
    'Age':[22,12],
    'address':['Nakku','nepal']}
details

{'name': ['Manisha', 'Arya'], 'Age': [22, 12], 'address': ['Nakku', 'nepal']}

In [202]:
# key
for key in details.keys():
    print(key)

name
Age
address

In [203]:
# Value 
for value in details.values():
    print(value)

['Manisha', 'Arya']
[22, 12]
['Nakku', 'nepal']

In [204]:
#items
for key in details.items():
    print(f"{key}:{value}")

('name', ['Manisha', 'Arya']):['Nakku', 'nepal']
('Age', [22, 12]):['Nakku', 'nepal']
('address', ['Nakku', 'nepal']):['Nakku', 'nepal']

# Add new value in dicitionary

In [ ]:
details={
    'name':['Manisha','Arya'],
    'Age':[22,12],
    'address':['Nakku','nepal']}

In [207]:
details['phone']=[12345678,223] # adds new key and value
details

{'name': ['Manisha', 'Arya'],
 'Age': [22, 12],
 'address': ['Nakku', 'nepal'],
 'phone': [12345678, 223]}

# update value in dicitionary

In [183]:
details['address']='Paris'
details

{'name': ['Manisha', 'Arya'],
 'Age': [22, 12],
 'address': 'Paris',
 'phone': 12345678}

# Delete value in dicitionary

In [185]:
#del
#pop

In [212]:
details={
'name':'Manisha',
 'Age':22,
 'address':'Nakku'
    'phone': 123456}
del details('phone')
details

SyntaxError: invalid syntax (531184896.py, line 5)

In [211]:
#POp
details.pop('address')
details

{'name': ['Manisha', 'Arya'], 'Age': [22, 12], 'phone': [12345678, 223]}

In [213]:
# can add multiple value inside list bracket
details={
    'name':['Manisha','Arya'],
    'Age':[22,12],
    'address':['Nakku','nepal']}
details ['name'].append('Ram')
details

{'name': ['Manisha', 'Arya', 'Ram'],
 'Age': [22, 12],
 'address': ['Nakku', 'nepal']}

In [214]:
del details['address']
details

{'name': ['Manisha', 'Arya', 'Ram'], 'Age': [22, 12]}

In [217]:
details= {
    'name':['Manisha','Arya'],
    'Age':[22,12],
    'address':['Nakku','nepal']}
details['address'].remove('nepal')
details

{'name': ['Manisha', 'Arya'], 'Age': [22, 12], 'address': ['Nakku']}

In [223]:
details['address'].pop(0) #pop takes index 
details

IndexError: pop from empty list

# Set

In [225]:
#{} curly bracket is defined for sets

In [228]:
empty_set=set()
type(empty_set)

set

In [229]:
empty_set={} 
type(empty_set)

dict

In [230]:
colors={"red","blue","orange","black"}
colors

{'black', 'blue', 'orange', 'red'}

In [232]:
type(colors)

set

# In set the value inside set are arranged by
# Numbers, uppercase,lowercase

In [ ]:
# set doesnot record duplicate value 
# In set 1=True and 0=False
# Set doesnot accept index
#Set is mutable data type

In [233]:
set_value={"True",2,3,1,"orange",'red','blue'}
set_value

{1, 2, 3, 'True', 'blue', 'orange', 'red'}

In [234]:
set_value={"true",2,3,1,"Orange",'Red','blue'}
set_value

{1, 2, 3, 'Orange', 'Red', 'blue', 'true'}

In [236]:
set_value={"true",2,3,1,"Orange",'Red','Red','Red','Blue','blue'}
set_value #it records single record not duplicate

{1, 2, 3, 'Blue', 'Orange', 'Red', 'blue', 'true'}

In [237]:
set_value={"True","False",2,0,1,"Orange",'Red','Red','Red','Blue','blue'}
set_value

{0, 1, 2, 'Blue', 'False', 'Orange', 'Red', 'True', 'blue'}

# add, update ,delete in set

add->add()=add function only adds sinlge value 
update->update([]) update multiple values at same time
delete is 3 types
pop->pop() deletes random value 
discard->discard() accepts value not index
clear-> clear() clears all the values of set at once

In [240]:
#Add function in set
colors={"black","white","Red","orange"}
colors.add("yellow")
colors

{'Red', 'black', 'orange', 'white', 'yellow'}

In [242]:
#update function in set
colors.update(['olive'])
colors

{'Red', 'black', 'olive', 'orange', 'white', 'yellow'}

In [243]:
colors.update(['olive', 'green'])
colors

{'Red', 'black', 'green', 'olive', 'orange', 'white', 'yellow'}

In [244]:
#delete has 2 options
#POp
#discard

In [246]:
colors.pop() # pop deletes random value from the set
colors

{'black', 'green', 'olive', 'orange', 'white'}

In [247]:
colors.discard('black')
colors

{'green', 'olive', 'orange', 'white'}

# clear

In [248]:
colors.clear()
colors

set()

In [249]:
a={1,2,3,4,5}
b= {2,3,6,7,8}
type(b)

set

In [251]:
a_i_b=a.intersection(b)
a_i_b

{2, 3}

In [252]:
a_u_b=a.union(b)
a_u_b

{1, 2, 3, 4, 5, 6, 7, 8}

In [253]:
a_d_b=b.difference(a)
a_d_b

{6, 7, 8}

In [254]:
b_d_a=a.difference(b)
b_d_a

{1, 4, 5}

# change set to list

In [220]:
a={1,2,3,4,5,6,7,5,7,7}
list_numbers=list(a)
list_numbers

[1, 2, 3, 4, 5, 6, 7]

# copy function

In [221]:
copy_list=list_numbers.copy()
copy_list

[1, 2, 3, 4, 5, 6, 7]

# append

In [222]:
new_list=[50,60,70]
new_list.append(copy_list)
new_list

[50, 60, 70, [1, 2, 3, 4, 5, 6, 7]]