# Install DBeaver for SQL

In [1]:
SQl (Structured Query Language) / Database
-SQLite
-Create Database
-Create Table
-Insert Data
-Update Data
-Delete Data
-Data Filtering (where clause)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2624371957.py, line 1)

In [2]:
import sqlite3 # to make connection with python and SQL

In [3]:
#create database connection
conn=sqlite3.connect('/Users/manisha/Downloads/python broadway/myscript.db')

In [4]:
#cursor function is to interact between python and SQL database
cursor=conn.cursor()

# create product table

In [5]:
cursor.execute("""
    Create Table Products(
                    Product_Id int Primary Key,
                    Product_Name text,
                    Product_Price int,
                    Product_Description text )
                    """)

print('Product Table Created.')

Product Table Created.

In [6]:
try:
    cursor.execute("""
        Create Table Products(
        Product_Id int Primary Key,
        Product_Name text,
        Product_Price int,
        Product_Description text)
        """)
    print('Product Table Created.')
except:
    print('Table Product Already Exists.')

Table Product Already Exists.

# Create Orders Table

In [7]:
try:
    cursor.execute("""
        Create table Orders(
        order_id int primary key,
        order_location text,
        order_price int,
        order_quantity int)
        """)
    print('Order Table Created')
except:
    print('Order Table Already Created.')

Order Table Created

# fetch all Data in order Table

In [28]:
cursor.execute("""
select * from Orders""")
data=cursor.fetchall()
for d in data:
    print(d)

# Insert Orders Now

In [29]:
cursor.execute("""
    Insert into orders
    (order_id, order_name,order_price, order_description)
    values(1, 'Momo', 250, 'Dumplings')
    """)
print('Orders Inserted into table.')
conn.commit()

OperationalError: table orders has no column named order_name

In [8]:
cursor.execute("""
    Insert into products
    (product_id, product_name, product_price, product_description)
    values
    (1, 'TV', 200000, 'Smart TV')
""")
print('Data inserted to product table.')
conn.commit()

Data inserted to product table.

# fetch all Data

In [25]:
cursor.execute("""
select * from products""")
data=cursor.fetchall()
for d in data:
    print(d)

(1, 'TV', 200000, 'Smart TV')
(2, 'Mobile', 40000, 'Samsung')
(3, 'Laptop', 100000, 'HP')
(4, 'Bulb', 20, 'Light Bulb')
(5, 'Bike', 450000, 'Honda')
(6, 'Car', 650000, 'Fiat')

# Insert Data

In [16]:
cursor.execute(""" 
    Insert into products
    (Product_id,Product_name,product_price,product_description)
    values(3,'Laptop',100000,'HP')
    """)
print('Data inserted to product table.')
conn.commit()

Data inserted to product table.

In [24]:
cursor.execute("""
    Insert into products
    (Product_id,Product_name,product_price,product_description)
    values(5, 'Bike', 450000,'Honda'),
    (6, 'Car',650000,'Fiat')
    """)
print('Data inserted to product table.')
conn.commit()

Data inserted to product table.

# Update Data

In [26]:
cursor.execute("""
    update products set product_price=340
    where product_id=4
    """)
print('Product Data updated Successfully.')
conn.commit()

Product Data updated Successfully.

# Delete Data

In [27]:
# In SQL it delete entire row
# dont delete enite data base
# only if there is where condition we can delete data 
# Without where condition it can delete entire database

# where clause

In [ ]:
SQl where clause ->usedfor data filtering
Comparison operator
logical operator

Like-> Pattern Match
Between->Alternative of AND operator
IN-> Alterantive of OR operator

In [ ]:
# code to use where clause in SQL
select* from table_name where column_name ><=amount(value)

In [30]:
cursor.execute("""
    select *from products where product_price<100000
    """)
data=cursor.fetchall()
for d in data:
    print(d)

(2, 'Mobile', 40000, 'Samsung')

In [ ]:
cursor.execute("""
    select*from products where product<20 and product_price