In [2]:
#python variable and constant
#python variable is a value that can be change during the program
age=25
#python constant is a value that should not change and written in uppercase
PI=3.14

In [3]:
#variable store the value/datatype/datastructure
x=5
y=6
sum=x*y
print(sum)

30

In [4]:
x=1
y=2
z=3
print(x,y,z)

1 2 3

In [5]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [10]:
x=5
print(type(x))

<class 'int'>

In [12]:
a=5.6
type(x)

int

In [13]:
a="ram"
print(type(a))

<class 'str'>

In [14]:
print(a)

ram

In [16]:
first_name="manisha"
print(id(first_name))
print(first_name)

4415484144
manisha

In [18]:
is_light_on=True
print(is_light_on)
print(type(is_light_on))

True
<class 'bool'>

In [19]:
#Declare multiple variable on one line
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [20]:
name="manisha"
len(name)

7

In [23]:
first_name="manisha"
last_name="shahi"
len(first_name)==len(last_name)

False

In [25]:
#list datatype
x=[1,2,3,4,5]
print(x,type(x))

[1, 2, 3, 4, 5] <class 'list'>

In [26]:
num_1=6
num_2=4
total=num_1+num_2
print(total)

10

In [27]:
num_1=6
num_2=4
difference=num_1-num_2
print(difference)

2

In [28]:
#modulus division

In [29]:
s="Hello  World.Welcome to Python. Its wonderful having new classes."
print(s)

Hello  World.Welcome to Python. Its wonderful having new classes.

In [32]:
s="Hello  World.\nWelcome to Python.\nIts wonderful having new classes."
print(s)

Hello  World.
Welcome to Python.
Its wonderful having new classes.

In [33]:
s="Hello  World.\\nWelcome to Python.\\nIts wonderful having new classes."
print(s)

Hello  World.\nWelcome to Python.\nIts wonderful having new classes.

In [34]:
s=r"Hello  World.\\n Welcome to Python.\\nIts wonderful having new classes."
print(s)

Hello  World.\\n Welcome to Python.\\nIts wonderful having new classes.

In [35]:
#asking input from the user
x=input("Enter the value of x:")
y=input("Enter the value of y:")
sum=x+y
print(sum)

Enter the value of x: 4
Enter the value of y: 5

45

In [36]:
#concatenation is adding values together
#if we add(concatenation) string together we get
x='2'
y='5'
sum=x+y
print(sum)

25

# conversion

In [38]:
x=3
float(x)

3.0

In [39]:
int(x)

3

In [40]:
str(x)

'3'

In [42]:
set([1,2,3,4])

{1, 2, 3, 4}

In [43]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [45]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [47]:
list({1,2,3,4})

[1, 2, 3, 4]

In [54]:
dict([[1,2],[3,4]])

TypeError: 'list' object is not callable

In [55]:
dict([(3,26),(4,44)])

TypeError: 'list' object is not callable

In [56]:
dict(((6,7),(8,9)))

TypeError: 'list' object is not callable

In [60]:
pairs=(([3,26],[5,9]))
my_dict=dict(pairs)
print(my_dict)

TypeError: 'list' object is not callable

In [64]:
#simple_interest= p*t*r/100
p=int(input("Enter the principal:"))
t=int(input("Enter the time:"))
r=int(input("Enter the rate:"))
simple_interest=p*t*r/100
print(f"The simple interest is {simple_interest}")

Enter the principal: 13
Enter the time: 13
Enter the rate: 34

The simple interest is 57.46

In [65]:
#area and perimeter of the rectangle
#area =l*b
#perimeter=2*(l+b)

In [66]:
l=int(input("Enter the length:"))
b=int(input("Enter the breadth:"))
area=l*b
perimeter=2*(l+b)
print(f"The area is {area}")
print(f"The perimeter is {perimeter}")

Enter the length: 23
Enter the breadth: 24

The area is 552
The perimeter is 94

In [67]:
#area and perimeter of the circle
#area=pi*r*r
#perimeter=2*pi*r

In [68]:
pi=3.14
r=float(input("Enter the radius:"))
area=pi*r*r
perimeter=2*pi*r
print(f"The area of circle{area}")
print(f"The perimeter of circle{perimeter}")

Enter the radius: 3.6

The area of circle40.6944
The perimeter of circle22.608

In [71]:
import math
r=float(input("Enter the radius:"))
area=math.pi*r*r
perimeter=2*math.pi*r
print(f"The area of circle{area}")
print(f"The perimeter of circle{perimeter}")

Enter the radius: 5

The area of circle78.53981633974483
The perimeter of circle31.41592653589793

# Arithmetic operators

In [72]:
5+3

8

In [73]:
5-2

3

In [74]:
5*2

10

In [76]:
5/2 #division

2.5

In [77]:
5%2 #remainder/modulus operator

1

In [79]:
5//2 #integer division/floor division( it gives the integer value in division)

2

In [80]:
2*2*2*2*2

32

In [81]:
2**5 # POWER OPERATOR

32

# COMPARSION OPERATOR

In [82]:
2<5# LESS THEN

True

In [83]:
2>5# GREater then

False

In [84]:
5>2 #Greater then

True

In [86]:
2==5 #equal to

False

In [87]:
2<=5 #less then or equal to

True

In [88]:
2>=5 #greated then or equal to

False

# LOGICAL OPERATOR

In [89]:
# and=> all value True=>True
# or=> any one value True=>True
# not=>opposite value

In [90]:
True and True and True

True

In [91]:
False and False and False

False

In [92]:
True or False and True # when false comes with True 'True wins

True

In [95]:
True and False and True # when false comes with 'false win'

False

In [96]:
not True

False

In [97]:
not False

True

In [98]:
not not True

True

In [99]:
not not False

False

In [101]:
True or False and False #First we need to do False then or

True

In [102]:
#precedence (is like bodmas rule)
#small bracket
#and
#or

In [103]:
(True or False)and False

False

In [104]:
True and (not(not False)) or (True and (not True))

False

In [1]:
# 26 Jan exercise from strings and function

Python Programming Lab: Data Structures
Course: Python
Topics: Lists, Tuples, Dictionaries, Slicing, and Mutability

Part 1: Lists and Mutability
Lab Question 1: The Personal Inventory Manager Create a list named inventory
containing the following items: "Laptop", "Mouse", and "Keyboard". Perform the following
operations:
1. Add "Monitor" to the end of the list using append().
2. Insert "Webcam" at the second position (index 1) in the list.
3. Sort the list alphabetically.
4. Remove "Mouse" from the list using its name.
5. Pop the last item from the list and print the final state of the inventory.

In [9]:
inventory=["Laptop","Mouse","Keyboard"]
inventory.append("Monitor")
inventory

['Laptop', 'Mouse', 'Keyboard', 'Monitor']

In [10]:
inventory=["Laptop","Mouse","Keyboard"]
inventory.insert(1,"webcam")

In [11]:
inventory

['Laptop', 'webcam', 'Mouse', 'Keyboard']

In [16]:
inventory=['Laptop', 'webcam', 'Mouse', 'Keyboard']
inventory.sort()
inventory

['Keyboard', 'Laptop', 'Mouse', 'webcam']

In [13]:
# 4.Remove "Mouse"
inventory.remove("Mouse")
inventory

['Laptop', 'webcam', 'Keyboard']

In [14]:
# pop the last item
inventory.pop(2)
inventory

['Laptop', 'webcam']

Lab Question 2: Advanced Slicing & Analysis Given the list: numbers = [12, 45, 2, 89, 33,
10, 55, 78, 90, 6]
1. Print a slice of the list containing only the middle four elements.
2. Use slicing to print the list in reverse order.
3. Extract every third element starting from the first one.
4. Find and print the length, maximum value, and minimum value of this list using Pythonâ€™s built-in functions.

In [17]:
numbers= [12, 45, 2, 89, 33,10,55,78,90,6]
numbers[3:7]

[89, 33, 10, 55]

In [18]:
numbers= [12, 45, 2, 89, 33,10,55,78,90,6]
numbers[::-1]

[6, 90, 78, 55, 10, 33, 89, 2, 45, 12]

In [22]:
numbers= [12, 45, 2, 89, 33,10,55,78,90,6]
numbers[::3]

[12, 89, 55, 6]

In [26]:
numbers= [12, 45, 2, 89, 33,10,55,78,90,6]
len(numbers)

10

In [27]:
numbers= [12, 45, 2, 89, 33,10,55,78,90,6]
max(numbers)

90

In [28]:
min(numbers)

2

Part 2: Dictionaries and Nested Data
Lab Question 3: Student Database Update Create a dictionary named student with the
following keys: "name": "Alice", "age": 20, and "major": "Physics".
1. Add a new key-value pair: "gpa": 3.8.
2. Update the "major" to "Computer Science".
3. Delete the "age" key using the pop() method.
4. Loop through the dictionary and print only the keys.
5. Loop through the dictionary using .items() and print the details in the format: Field: value

In [36]:
student= {
    "name": "Alice", 
    "age": 20, 
    "major": "Physics"}
student["gpa"]=3.8
student

{'name': 'Alice', 'age': 20, 'major': 'Physics', 'gpa': 3.8}

In [38]:
student= {
    "name": "Alice", 
    "age": 20, 
    "major": "Physics"}
student["major"]="Computer science"
student

{'name': 'Alice', 'age': 20, 'major': 'Computer science'}

In [42]:
student.pop('age')
student

{'name': 'Alice', 'major': 'Computer science'}

In [47]:
student= {
    "name": "Alice", 
    "age": 20, 
    "major": "Physics"}
for key in student.keys():
    print(key)

name
age
major

In [49]:
student= {
    "name": "Alice", 
    "age": 20, 
    "major": "Physics"}
for field,value in student.items():
    print(f"{field} :{value}")

name :Alice
age :20
major :Physics

Lab Question 4: Nested Data & The "Menu" Challenge
1. Create a dictionary called cafeteria_menu where the keys are categories (e.g.,
"Snacks", "Drinks") and the values are lists of items.
2. Add a new item to the "Drinks" list using the .append() method inside the dictionary.
3. Use a for loop and the enumerate() function to print the list of "Snacks" with their
index numbers (starting from 1).
4. Access and print the second item from the "Snacks" list using double indexing (e.g.,
dict[key][index]).

In [53]:
cafeteria_menu={
    "Snacks":["chatpat"],
    "Drinks":["coke"]}
cafateria_menu['Drinks'].append['pepsi']
cafateria_menu

NameError: name 'cafateria_menu' is not defined

Part 3: Application Level Logic
Lab Question 5: The "Price Is Right" (Conditional Logic) You are given a list of product
prices: prices = [100, 250, 75, 400, 120, 310].
1. Write a program that creates two new empty lists: cheap_items and
expensive_items.
2. Loop through the prices list. If a price is greater than 200, append it to
expensive_items. Otherwise, append it to cheap_items.
3. Print both lists and calculate the total count of items in each using the len() function

Lab Question 6: Matrix Modification (2D Lists) Given this 3x3 matrix: matrix = [[1, 2, 3], [4,
5, 6], [7, 8, 9]]
1. Change the middle value (5) to 0 using its row and column index.
2. Add a new row [10, 11, 12] to the end of the matrix.
3. Access the last element of the second row (6) and the first element of the fourth row
(10), and print their sum.

Lab Question 7: The Gradebook (Dictionary with Nested Lists) Create a dictionary
named gradebook: gradebook = {"Sam": [80, 85, 90], "Tara": [92, 88, 95]}
1. Add a new student named "Leo" with scores [70, 75, 80].
2. Update Sam's second score (index 1) from 85 to 88.
3. Delete the last score in Tara's list using the pop() method.
4. Use a for loop and .items() to print each student's name and their highest score using the max() function.

In [54]:
gradebook = {"Sam": [80, 85, 90], 
             "Tara": [92, 88, 95]}
gradebook["leo"]=[70,75,80]
gradebook

{'Sam': [80, 85, 90], 'Tara': [92, 88, 95], 'leo': [70, 75, 80]}

In [55]:
gradebook["Sam"]=[80,88,90]
gradebook

{'Sam': [80, 88, 90], 'Tara': [92, 88, 95], 'leo': [70, 75, 80]}

In [62]:
gradebook.pop('Tara'()
gradebook

{'Sam': [80, 88, 90], 'leo': [70, 75, 80]}

Python Programming Lab: Functions
Course: Python with Data Science
Topics: Parameterized Functions, Return Types, Args/Kwargs, and Lambda Expressions

Part 1: Foundational Function Mechanics
Lab Question 1: The Multi-Greeting System Goal: Understand the difference between
calling functions with and without inputs.
1. Define a non-parameterized function say_welcome() that prints "Welcome to the
Python Lab!".
2. Define a parameterized function personal_welcome(name) that prints "Hello
[name], welcome to the class!".
3. Call both functions in your script and observe the output.

In [3]:
# 2. 
def say_welcome():
    print("Welcome to the python  Lab!:")

In [4]:
say_welcome()

Welcome to the python  Lab!:

In [10]:
def personal_welcome(name):
    print(f"Hello {name},welcome to the class!")

In [11]:
personal_welcome("Manisha")

Hello Manisha,welcome to the class!

In [7]:
#Calling both functions
say_welcome()

Welcome to the python  Lab!:

In [12]:
personal_welcome("Manisha")

Hello Manisha,welcome to the class!

In [9]:
Lab Question 2: The Calculation Choice (Return vs. Print) Goal: Distinguish between a
function that displays a value and one that passes a value back to the program.
1. Write a function multiply_print(a, b) that calculates the product of two numbers and
prints it.
2. Write a function multiply_return(a, b) that calculates the product and returns it.
3. Call multiply_print(5, 5). Then, call multiply_return(5, 5) and store its result in a
variable named result. Print the variable result to see the difference

SyntaxError: invalid syntax (2849908030.py, line 1)

In [13]:
def multiply_print(a,b):
    product=a*b
    print(product)

In [14]:
multiply_print(3,6)

18

In [15]:
def multiply_return(a,b):
    product=a*b
    return(product)

In [16]:
multiply_return(3,2)

6

In [17]:
multiply_print(5,5)

25

In [22]:
result=multiply_return(5,5)
print(result)

25

In [ ]:
Part 2: Advanced Arguments and Flexibility
Lab Question 3: User Profile Generator (Default & Keyword Args) Goal: Practice using
default values for parameters.
1. Create a function create_profile(name, age, city="New York", status="Student").
2. Call the function providing only the name and age.
3. Call the function again using keyword arguments to change the status to
"Professional" while keeping the default city.

In [18]:
def create_profile(name="unknown",age=0,city="Newyork",status="Student"):
    print("Name:",name)
    print("Age:",age)
    print("City:",city)
    print("Status:",status)

In [19]:
create_profile("Manisha",22,"Newyork","Student")

Name: Manisha
Age: 22
City: Newyork
Status: Student

In [20]:
create_profile("Manisha",22)

Name: Manisha
Age: 22
City: Newyork
Status: Student

In [23]:
create_profile(status="professional")

Name: unknown
Age: 0
City: Newyork
Status: professional

In [29]:
def create_profile(name,age,city="Newyork",status="student"):
    print(f"Name:",{name})
    print(f"Age:",{age})
    print(f"City:",{city})
    print(f"Status:",{status})

In [30]:
create_profile(name="Manisha",age=22)

Name: {'Manisha'}
Age: {22}
City: {'Newyork'}
Status: {'student'}

In [32]:
create_profile("Manisha",22,status="Professional")

Name: {'Manisha'}
Age: {22}
City: {'Newyork'}
Status: {'Professional'}

In [ ]:
Lab Question 4: The Flexible Summation (*args) Goal: Handle an unknown number of
positional arguments.
1. Define a function sum_all(*args) that accepts any number of integers.
2. Use a for loop inside the function to calculate the sum of all numbers passed to it.
3. Call the function with 3 numbers, then call it again with 6 numbers

In [40]:
def sum_all(*args):
    print(args)

In [41]:
sum_all(2,4)

(2, 4)

In [56]:
def sum_all(*args):
    for sum in args:
     print(sum)
    print("All arguments:",args)

In [57]:
sum_all(2+4+6)

12
All arguments: (12,)

In [ ]:
Lab Question 5: Digital Warehouse (**kwargs) Goal: Handle an unknown number of
named arguments using dictionaries.
1. Define a function item_details(item_name, **kwargs).
2. The function should print the item_name and then loop through the kwargs to print
extra details (like color, price, or stock_level).
3. Call the function for a "Smartphone" with the details: brand="Samsung",
memory="128GB", and color="Black"

In [60]:
def item_details(item_name,**kwargs):
    print("Bag Name:",item_name)
    print(kwargs)

In [62]:
item_details("Nothing",color="blue",price=2800,stock_level=45)

Bag Name: Nothing
shoe name: Nothing
{'color': 'blue', 'price': 2800, 'stock_level': 45}

In [63]:
#loop in (**kwargs)
def item_details(item_name,**kwargs):
    print("Bag Name:",item_name)
    print(kwargs)
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [65]:
item_details("Luuci",color="Black",price=4500,stock_level=67)

Bag Name: Luuci
{'color': 'Black', 'price': 4500, 'stock_level': 67}
color:Black
price:4500
stock_level:67

In [66]:
def smartphone( brand="Samsung",
memory="128GB",color="Black",**kwargs):
    print("Phone Name:",brand)
    print("Memory:",memory)
    print('Color:',color)
    print(kwargs)
    print("All arguments:",kwargs)

In [67]:
smartphone()

Phone Name: Samsung
Memory: 128GB
Color: Black
{}
All arguments: {}

In [ ]:
smartphone(

In [ ]:
Part 3: Comprehensive Challenge
Lab Question 6: The Bonus Calculator (Logic & Return) Goal: Apply conditional logic
within a function to return specific values.
1. Define a function calculate_bonus(salary, years_of_service).
2. Logic:
o If years_of_service is more than 10, the bonus is 15% of the salary.
o If it is between 5 and 10 years, the bonus is 10%.
o Otherwise, the bonus is 5%.
3. The function should return the calculated bonus amount.
4. Call the function for an employee with a salary of 50000 and 7 years of service, then
print the final bonus.

In [91]:
def calculate_bonus(salary,years_of_service):
      print("Salary:",salary)
      print("Service:",years_of_service)
    
      if years_of_service>=10:
        bonus=0.15 * salary
        print("Bonus 15")
      elif years_of_service>=5 and years_of_service<10:
         bonus=0.10*salary
         print("Bonus 10")
      elif years_of_service<5:
        bonus=0.05*salary
        print(" Bonus 5")

In [92]:
calculate_bonus(salary=450000,years_of_service=8)

Salary: 450000
Service: 8
Bonus 10

In [93]:
def calculate_bonus(salary, years_of_service):
    print("Salary:", salary)
    print("Service:", years_of_service)

    if years_of_service >= 10:
        bonus = 0.15 * salary
        print("Bonus 15%")
    elif years_of_service >= 5:
        bonus = 0.10 * salary
        print("Bonus 10%")
    else:
        bonus = 0.05 * salary
        print("Bonus 5%")

    return bonus

In [95]:
calculate_bonus(500000,5)

Salary: 500000
Service: 5
Bonus 10%

50000.0

In [96]:
final_bonus=calculate_bonus(50000,7)
print("final bonus:",final_bonus)

Salary: 50000
Service: 7
Bonus 10%
final bonus: 5000.0

In [ ]:
Write a function greet() that prints "Hello, world!".

In [99]:
def greet():
    print("hello world!")

In [100]:
greet()

hello world!

In [ ]:
Write a function welcome(name) that prints:
"Welcome, <name>!"
Example:
welcome("Alice") â†’ Welcome, Alice!

In [106]:
def welcome(name):
    print("Welcome Alice")

In [107]:
welcome('Alice')

Welcome Alice

In [ ]:
Write a function add(a, b) that returns the sum of two numbers.

In [108]:
def add(a,b):
    sum=a+b
    print("sum:",sum)
    return sum

In [109]:
add(3,4)

sum: 7

7

In [112]:
def add(a,b):
    result=a+b
    print("Result:",result)
    return result

In [113]:
add(3,5)

Result: 8

8

In [ ]:
Write a function square(num) that returns the square of a number.

In [125]:
def square(num):
    result=num*num
    print("Number:",num)
    return result

In [126]:
square(5)

Number: 5

25

In [ ]:
Write a function is_even(n) that returns "Even" or "Odd".

In [139]:
def is_even(n):
    if n%2==0:
        print("Even")
        return "Even"
    else:
        return "odd"

In [140]:
is_even(6)

Even

'Even'

In [141]:
is_even(7)

'odd'

In [ ]:
Write a function largest(a, b, c) that returns the largest number.

In [145]:
def largest(a,b,c):
    if a>b:
        print("Largest:",largest)
    elif b>c

In [146]:
largest(65,5,4)

Largest: <function largest at 0x160db1260>

In [ ]:
Write a function count_vowels(text) that returns how many vowels are in the string.

In [ ]:
Write a function reverse_string(s) that returns the reversed string.

In [ ]:
Write a function sum_list(numbers) that returns the total of all elements.

In [ ]:
Write a function is_palindrome(word) that returns True if the word reads the same backward.
Example:
is_palindrome("level") â†’ True

# File Handling Exercise

In [ ]:
Part 1: Easy (Foundational Operations)
1. The Log Writer * Task: Create a program that writes your name and current course name
to a file called student_info.txt.
â€¢ Step 2: Close the file, then reopen it in append mode ('a') to add a new line stating
your favorite programming language.
â€¢ Step 3: Reopen the file in read mode ('r') and print the final contents to the console.
2. The Line Counter * Task: Manually create a text file named notes.txt with at least 5 lines
of random text (e.g., a "To-Do" list).
â€¢ Step 2: Write a Python script that opens this file, iterates through it using a for loop,
and prints the total number of lines found in the file.

In [2]:
file=open('student_info.txt','w')
content=file.write('Name:Manisha \n Course name: Python')
file.close()