# Function

Function is 2 types
# 1. Parameterized function / Argumented Function
# 2.Non Parameterized function / non-argumented function
syntax(code)->def function_name():
                code....

# Non argumented function

In [32]:
def name():
    print("Manisha")

In [33]:
#call back function
name()

Manisha

In [2]:
def greet():
    print('Hello world')

In [3]:
greet()

Hello world

# Parameterized function/ Argumented Function

In [34]:
def new_greet(greet):
    print(f"{greet}world!!")

In [35]:
new_greet(1)

1world!!

In [46]:
def new_greet(a):
    print(f"{a} world!!")

In [47]:
new_greet("Hello")

Hello world!!

In [ ]:
def full_name():
    print(f"

# Non Return type function
It just print the value

In [48]:
def full_name(first_name,last_name):
    print(f"{first_name} {last_name}")

In [49]:
full_name("Ram","shah")

Ram shah

In [50]:
print(full_name("Ram","shah"))

Ram shah
None

# Return Type Function
It returns the value

In [ ]:
def full_name(first_name, last_name):
    return f"{first_name} {last_name}

In [51]:
full_name("Manisha","shahi")

Manisha shahi

In [53]:
print(full_name("Manisha","shahi"))

Manisha shahi
None

In [7]:
# sum of two numbers using function
def add(a,b):
    addition=a+b
    print(addition)

In [8]:
add(1,2)

3

In [9]:
# make a function which acceptes 2 numbers and make all the calculation

In [14]:
def calculation(a,b):
    addition=a+b
    subtraction=a-b
    mult=a*b
    division=a%b
    print(addition)
    print (mult)
    print(subtraction)
    print(division)

In [15]:
calculation(6,2)

8
12
4
0

In [16]:
# take user input for same above make non argument function
def calculation():
    a=int(input("enter the value of a:"))
    b=int(input("enter the value of b:"))
          
    addition=a+b
    subtraction=a-b
    mult=a*b
    division=a%b
    print(addition)
    print (mult)
    print(subtraction)
    print(division)

In [17]:
calculation()

enter the value of a: 6
enter the value of b: 2

8
12
4
0

In [61]:
def calculation():
    a=int(input("enter the value of a:"))
    b=int(input("enter the value of b:"))
    choice=int(input("Enter the value from 1-4:"))
    if choice==1:
        addition=a+b
        print(add)
    elif choice==2:
        sub=a-b
        print(sub)
    elif choice==3:
        mult=a*b
        print(mult)
    elif choice==5:
        division=a%b
        print(division)
    else:
        print("invalid Number!!")

In [62]:
calculation()

enter the value of a: 7
enter the value of b: 3
Enter the value from 1-4: 6

invalid Number!!

In [59]:
def calculation():
    a=int(input("Enter the number:"))
    b=int(input("Enter the number:"))
    choice=int(input("Enter the number from 1-4:"))

    if choice==1:
        add=a+b
        print(add)
    elif choice==2:
        sub=a-b
        print(sub)
    elif choice==3:
        mul=a*b
        print(mul)
    elif choice==4:
        div=a/b
        print(div)
    else:
        print("Invalid Number")

In [60]:
calculation()

Enter the number: 8
Enter the number: 4
Enter the number from 1-4: 3

32

# functions it should accept 2 arguments: student roll number and full name
Name of student:Name
Roll Number of student:roll number
at least 5 subject marks 
Total Marks 
Average Marks

Grade:A;B;C;D;E;NG

In [8]:
def student(full_name,roll_number):
    name=input("Enter the name:")
    roll=int(input("Enter the roll:"))
    print("full_name:",name)
    print("roll_number:",roll)
    
    marks1=int(input("Enter the marks for subject 1:"))
    marks2=int(input("Enter the marks for subject 2:"))
    marks3=int(input("Enter the marks for subject 3:"))
    marks4=int(input("Enter the marks for subject 4:"))
    marks5=int(input("Enter the marks for subject 5:"))

    total_marks=marks1+marks2+marks3+marks4+marks5
    Average_marks=total_marks/5

    if Average_marks>=80 and Average_marks==100:
        print("Grade : A")
    elif Average_marks>=60 and Average_marks<80:
        print("Grade :B")
    elif Average_marks>=50 and Average_marks<60:
        print("Grade :C")
    elif Average_marks>=40 and Average_marks<50:
        print("Grade: D")
    elif Average_marks<40:
        print("Grade:E")
    else:
        print("Fail")

In [9]:
student("Manisha",22)

Enter the name: Manisha
Enter the roll: 2

full_name: Manisha
roll_number: 2

Enter the marks for subject 1: 10
Enter the marks for subject 2: 2
Enter the marks for subject 3: 3
Enter the marks for subject 4: 4
Enter the marks for subject 5: 5

Grade:E

# Default Argument and Keyword Argument

# Default argument

In [1]:
def person(name="unknown",age=0,address="unknown"):
    print("Name:",name)
    print("age:",age)
    print("address:",address)

In [2]:
person("Manisha",22,"Nakkhu")

Name: Manisha
age: 22
address: Nakkhu

In [20]:
person(name="ABC",age=22,address="Nakkhu")# we can also pass argument in default argument

Name: ABC
Age: 22
address: Nakkhu

In [10]:
def person(name="Arya",age=0,address="Nepal"):
    print("Name:",name)
    print("Age:",age)
    print("address:",address)

In [12]:
person() # if we didnot pass any argument inside the bracket, then it will give default value

Name: Arya
Age: 0
address: Nepal

# Keyword argument

In [15]:
def person1(name,age,address):
    print("Name:",name)
    print("Age:",age)
    print("Address:",address)

In [16]:
person1(name="Manisha",age=22,address="Nakkhu")

Name: Manisha
Age: 22
Address: Nakkhu

In [1]:
def person(name,age,address):
    print("Name:",name)
    print("Age:",age)
    print("Address:",address)

In [2]:
person(name="ABC",age=22,address="Nakkhu")

Name: ABC
Age: 22
Address: Nakkhu

In [18]:
person(address="Nepal",age=20,name="Arya")

Name: Arya
Age: 20
address: Nepal

# (All Arguments)*Args, (All keyword Arguments)**kwargs

In [21]:
def phone(phone_name,*args):
    print("phone name:",phone_name)

In [22]:
phone("Nothing")

phone name: Nothing

In [23]:
phone("S22",2022)

phone name: S22

# Adding loop in Argument

In [30]:
def phone(phone_name,*args):
    print("phone name:",phone_name)
    for each_arg in args:
        print(each_arg) # we can use either for loop or all arguments code
    print("All arguments:",args)

In [31]:
phone("Nothing","s22",2025)

phone name: Nothing
s22
2025
All arguments: ('s22', 2025)

In [33]:
def phone_details(phone_name,**kwargs):
    print("Phone Name:",phone_name)
    print(kwargs)

In [35]:
phone_details("Nothing",model="s25",year=2025, os="Android 14")

Phone Name: Nothing
{'model': 's25', 'year': 2025, 'os': 'Android 14'}

In [47]:
def phone_details1(phone_name,**kwargs):
    print("Phone Name:",phone_name)
    print(kwargs)
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [48]:
phone_details1("Nothing",model="s25",year=2025,os="Android14")

Phone Name: Nothing
{'model': 's25', 'year': 2025, 'os': 'Android14'}
model:s25
year:2025
os:Android14

# Lambda function

In [49]:
# Lambda is a one line inbuild function

In [50]:
add=lambda x: x+10

In [51]:
add(5)

15

In [52]:
add=lambda x,y: x*y

In [53]:
add(5,6)

30

In [54]:
sub=lambda x,y,z:x-y-z

In [55]:
sub(2,4,6)

-8